*{
    margin: 0;
    padding: 0;
}
.class1,.class2,h1{
    margin: 10px;
    padding: 10px;
    border: 5px solid red;
    background-color: blue;
    color: white;
}
h1{
    /* height: 2rem;
    width: 40rem; */
    margin: 10px;
    padding: 10px;
    border: 5px solid red;
    background-color: blue;
    color: white;
}
.EmptyClass{
    background-color: rgb(163, 25, 163);
    color: rgb(254, 251, 251);
}
.EmptyClass1{
    background-color: blue;
    /* border: 2px solid red; */
    border-radius: 25px;
}
#id4{
    height: 40px;
    background-color: black;
    color: white;
}